.call-to-action {
  margin: 140px 0px 120px 0px;
  &-inside {
    display: flex;
    position: relative;

    &-block {
      background: #D6EDCE;
      border-radius: 32px;
      padding: 100px 80px;
      width: 80%;

      h2 {
        width: 70%;
        font-weight: 700;
        font-size: 32px;
        line-height: 145.9%;

        color: #0B213E;
      }

      button {
        padding: 15px 36px;
        background: rgba(28, 131, 229, 0.7);
        border-radius: 8px;
        color: #FFFFFF;
        border: none;
        margin-top: 30px;
      }
    }

    &-image {
      right: -70px;
      bottom: -20px;
      position: absolute;
    }
  }
}

@media (max-width: 1250px) {
  .call-to-action-inside-image {
    right: auto;
    bottom: auto;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    background: #D6EDCE;
    border-radius: 32px;
    img {
      filter: contrast(0.9);
      z-index: 0;
      object-fit: contain;
    }
  }

  .call-to-action-inside-block {
    width: 100%;
    background: none;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    button {
      background: rgba(28, 131, 229, 1)
    }

    h2 {
      width: auto;
    }
  }
}
