.partners {
  margin-bottom: 160px;

  &-title {
    width: 100%;
    margin-bottom: 90px;
    text-align: center;
  }

  &-partner {
    &-logo {
      width: 100%;
      border: 1px solid #D7D7D7;
    }
  }
}
